<tr>
  <td>
    <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td class="content-cell" align="center">
          <p class="f-fallback sub align-center">
            L2CL Academy
            <br />62-h Block above SBI bank<br />Sri Ganganagar 335001
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
